.pulse-survey-container {
	border-radius: 10px;
	border: 1px solid rgba(0, 0, 0, 0.12);
	background: #FFF;
	box-shadow: 0px 6px 14px 0px rgba(0, 0, 0, 0.08);
	padding: 40px 48px 32px 48px;
	margin-top: 40px;
	.sub-heading-container{
		padding-bottom: 32px;
	}
  .sub-heading-text {
    color: #666;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    text-transform: uppercase;
  }
  .main-text {
    color: #333;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 42px; /* 105% */
  }
	.score-cnt{
		display: grid;
    grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		gap: 15px;
	}
	.score-wrapper{
		display: flex;
	}
	.info-text{
		color: #666;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 140%;
	}
	.info-cnt{
		display: flex;
		gap: 20px;
		padding-top: 22px;
	}
	.combined{
		display: flex;
		margin: 0;
		padding: 0;
		gap: 20px;
	}
}

@media only screen and (max-width: 768px) {
  .pulse-survey-container{
		padding: 20px;
		.main-text{
			font-size: 24px;
			line-height: 24px;
		}
		.score-cnt{
			display: block;
		}
		.score-wrapper{
			margin-bottom: 10px;
		}
		.info-text{
			font-size: 10px;
		}
  }
}
